@font-face {
  font-family: 'Circular Std Book';
  src: url('/fonts/circular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.wraper__houselabs__welcome__card {
  width: 100%;
}
.welcome__card__box {
  width: 100%;
}

.wraper__houselabs__welcome__card .houselabs__welcome__card {
  width: 100%;
}
.wraper__houselabs__welcome__card .houselabs__welcome__card > .container {
  padding-top: 0;
  padding-bottom: 0;
}
.wraper__houselabs__welcome__card
  .houselabs__welcome__card
  .welcome__card__box {
  margin-top: -13%;
  padding: 10% 5%;
}
.wraper__houselabs__welcome__card
  .houselabs__welcome__card
  .welcome__card__box
  h4 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 24px;
}

.houselabs__welcome__card {
  padding: 0;
}
@media (max-width: 1799.98px) {
  .wraper__houselabs__welcome__card
    .houselabs__welcome__card
    .welcome__card__box
    h4 {
    font-size: 18px;
  }
}
.black__bg__info {
  background: #000000;
}
.white__bg__info {
  background: #fff;
}

.common_text {
  color: #000000;
}

.common_text h3 {
  font-family: 'Circular Std Book';
  font-size: 42px;
  font-weight: bold;
  margin: 0 0 10%;
  line-height: 54px;
}
.common_text p {
  font-family: 'Circular Std Book';
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .features {
  margin-top: 40px;
}

@media (max-width: 1600px) {
  .common_text h3 {
    font-size: 36px;
    line-height: 42px;
  }
}
@media (max-width: 1920px) {
  .common_text h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
.common_text h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0 0 12px;
  font-family: 'Circular Std Book';
}
@media (max-width: 1920px) {
  .common_text h5 {
    font-size: 16px;
  }
}

@media (max-width: 1799.98px) {
  .wraper__houselabs__welcome__card
    .houselabs__welcome__card
    .welcome__card__box {
    font-size: 18px;
  }
}

.common_text h4 {
  font-family: 'Circular Std Book';
  font-size: 22px;
  font-weight: bold;
  line-height: normal;
}
.wraper__houselabs__welcome__card
  .houselabs__welcome__card
  .welcome__card__box
  h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 34px;
}
@media (max-width: 1799.98px) {
  .wraper__houselabs__welcome__card
    .houselabs__welcome__card
    .welcome__card__box
    h3 {
    font-size: 30px;
  }
}
.wraper__houselabs__welcome__card
  .houselabs__welcome__card
  .welcome__card__box
  > *:last-child {
  margin-bottom: 0 !important;
}

.wraper__houselabs__overview {
  width: 100%;
}
.wraper__houselabs__overview .houselabs__overview {
  position: relative;
  width: 100%;
}
.wraper__houselabs__overview
  .houselabs__overview
  > .houselabs__overview__sideimage {
  top: -20%;
  bottom: 0;
  right: 0;
}
.blur__out {
  animation: blurOut 0.9s ease-out;
}
.wraper__houselabs__overview
  .houselabs__overview
  > .houselabs__overview__sideimage__mobile {
  margin-bottom: -80px;
  text-align: right;
}
.wraper__houselabs__overview .houselabs__overview .houselabs__overview__text {
  margin-bottom: 20px;
}
.wraper__houselabs__overview .houselabs__overview .houselabs__overview__text h3,
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .h3 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 42px;
}
.wraper__houselabs__overview .houselabs__overview .houselabs__overview__text p {
  margin-bottom: 25px;
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  h4 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  > *:last-child {
  margin-bottom: 0 !important;
}

.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  ul {
  padding-left: 0;
  list-style: none;
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  ul
  li {
  position: relative;
  margin-bottom: 4px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  line-height: 1.94;
  font-family: 'Circular Std Book';
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  ul
  li:before {
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 1;
  content: ' ';
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
}
.wraper__houselabs__overview
  .houselabs__overview
  > .houselabs__overview__sideimage
  img {
  width: 30vw;
}
.wraper__houselabs__overview .houselabs__overview > .container {
  padding-top: 100px;
  padding-bottom: 60px;
}
.a_link {
  background-color: transparent;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  word-wrap: break-word;
  -webkit-text-decoration-skip: objects;
  transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -ms-transition: all ease-in-out 300ms;
  cursor: pointer;
  touch-action: manipulation;
}
.a_link:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .features
  > .features__item
  p
  strong {
  position: relative;
  display: block;
  margin-top: 5px;
  padding-bottom: 11px;
  font-weight: 700;
  font-size: 14px;
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .features
  > .features__item
  p
  strong:before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: ' ';
  width: 30px;
  height: 1px;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .features
  > .features__item
  p
  strong:hover:before {
  width: 40px;
}
@media (max-width: 2299px) {
  .sofy__portfolio__sec__2 {
    padding: 0 0 7rem;
  }
}
.sofy__portfolio__sec__2 {
  padding: 0 0 8rem;
}

.comm__works {
  background: #efefef;
  padding: 12% 12% 8% 8%;
}
.comm__works.bg__orange {
  background-color: #e97e23;
}
.comm__works ul {
  font-family: 'Circular Std Book';
  padding-left: 22px;
  list-style: square;
  font-size: 26px;
  margin: 0;
  line-height: 18px;
}

@media (max-width: 1920px) {
  .comm__works ul {
    font-size: 22px;
    line-height: normal;
  }
}

.comm__works h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.55;
  letter-spacing: normal;
  color: #000000;
  font-family: 'Circular Std Book';
  margin-bottom: 6%;
}
.comm__works ul li p {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  margin-bottom: 8%;
  display: block;
}

@media (max-width: 1920px) {
  .comm__works ul li p {
    font-size: 16px;
  }
}
.wraper__houselabs__features
  .houselabs__features__screens
  > [class*='container']
  > .row
  > [class*='col-']:not(:empty) {
  padding-top: 100px;
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__text.d__inline__block {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
}
.comm__works .bg__orange .text__white h3 {
  color: #fff;
}
.wraper__houselabs__features {
  width: 100%;
}
.wraper__houselabs__features .houselabs__features__title {
  width: 100%;
}

.wraper__houselabs__features .houselabs__features__title > .container {
  padding-top: 0;
  padding-bottom: 100px;
}
.wraper__houselabs__features
  .houselabs__features__title
  .houselabs__features__title__text
  > *:last-child {
  margin-bottom: 0 !important;
}
.wraper__houselabs__features .houselabs__features__screens {
  position: relative;
  width: 100%;
}
.wraper__houselabs__features .houselabs__features__screens > .container__fluid {
  max-width: 1600px;
  padding-top: 0;
  padding-right: 5%;
  padding-bottom: 0;
  padding-left: 5%;
}
.wraper__houselabs__features .houselabs__features__screens > .container {
  padding-top: 0;
  padding-bottom: 0;
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__text.d-inline-block {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__boxes {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-width: 155px;
  margin-right: -5px;
  margin-left: -5px;
  text-align: right;
  transform: translateY(-50%);
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__boxes
  > .houselabs__features__screens__boxes__item.item__one {
  width: 47px;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.7);
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__boxes
  > .houselabs__features__screens__boxes__item {
  display: inline-block;
  vertical-align: top;
  clear: both;
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__boxes
  > .houselabs__features__screens__boxes__item.item__two {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__boxes
  > .houselabs__features__screens__boxes__item {
  display: inline-block;
  vertical-align: top;
  clear: both;
}
.wraper__houselabs__features
  .houselabs__features__screens
  > [class*='container']
  > .row
  > [class*='col-']:not(:empty) {
  padding-top: 100px;
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__text.d__inline__block {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__text
  h3 {
  margin-bottom: 20px;
  font-size: 30px;
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__text
  > *:last-child {
  margin-bottom: 0 !important;
}
.wraper__houselabs__features
  .houselabs__features__screens.last__item
  > .container,
.wraper__houselabs__features
  .houselabs__features__screens.last__item
  > .container__fluid {
  padding-bottom: 120px;
}
.wraper__houselabs__hero__video {
  width: 100%;
}
.wraper__houselabs__hero__video .houselabs__hero__video {
  position: relative;
  width: 100%;
}
.wraper__houselabs__hero__video
  .houselabs__hero__video
  .houselabs__hero__video__video {
  position: relative;
}
.wraper__houselabs__hero__video
  .houselabs__hero__video
  .houselabs__hero__video__video
  > .video
  img {
  width: 100%;
}
.wraper__houselabs__hero__video
  .houselabs__hero__video
  .houselabs__hero__video__video
  > .play__btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: auto;
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .features
  > .features__item
  p {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  line-height: 1.6;
}
.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .features
  > .features__item
  p
  a {
  color: inherit;
}
.wraper__houselabs__hero__video
  .houselabs__hero__video
  .houselabs__hero__video__video
  > .play__btn
  > .holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  overflow: hidden;
  background-color: #000000;
  text-align: center;
  cursor: pointer;
}
.wraper__houselabs__hero__video
  .houselabs__hero__video
  .houselabs__hero__video__video
  > .play-__btn
  > .holder
  i {
  font-size: 17px;
  color: #fff;
  line-height: 1;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 600;
}

.wraper__houselabs__overview
  .houselabs__overview
  .houselabs__overview__text
  .features
  > .features__item {
  margin-bottom: 20px;
}

.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__boxes
  > .houselabs__features__screens__boxes__item.item__one {
  width: 47px;
  height: 47px;
  background-color: rgba(0, 0, 0, 0.7);
}
.wraper__houselabs__features
  .houselabs__features__screens
  .houselabs__features__screens__boxes
  > .houselabs__features__screens__boxes__item.item__two {
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}
@media (max-width: 1920px) {
  .common_text p {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (max-width: 1600.98px) {
  .sofy__portfolio__sec__2 {
    padding: 0 0 6rem;
  }
}
@media (max-width: 1200.98px) {
  .common_text h3,
  .common_text .h3 {
    line-height: normal;
  }
}
@media (max-width: 1466.98px) {
  .common_text p {
    font-size: 16px;
  }
}
@media (max-width: 1366.98px) {
  .comm__works ul {
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: 991.98px) {
  .wraper__houselabs__welcome__card .houselabs__welcome__card .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .sofy__portfolio__sec__2 {
    padding: 0 0 5rem;
  }
  .wraper__houselabs__features .houselabs__features__title > .container {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .wraper__houselabs__features
    .houselabs__features__screens
    > [class*='container']
    > .row
    > [class*='col-']:not(:empty) {
    padding-top: 30px;
  }
  .wraper__houselabs__welcome__card .houselabs__welcome__card .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 851.98px) {
  .wraper__houselabs__features
    .houselabs__features__screens
    .houselabs__features__screens__boxes {
    display: none;
  }
}
@media (max-width: 768.98px) {
  .wraper__houselabs__welcome__card
    .houselabs__welcome__card
    .welcome__card__box {
    margin-top: 0;
  }
  .wraper__houselabs__welcome__card .houselabs__welcome__card {
    max-width: initial;
  }

  .wraper__portfolio__section__strategy
    .portfolio__section__strategy
    > .container__fluid,
  .wraper__portfolio__section__results
    .portfolio__section__results
    > .container,
  .wraper__houselabs__overview .houselabs__overview > .container,
  .wraper__freshclinic__components .freshclinic__components__title > .container,
  .wraper__londonrag__promo.padding__top__bottom > .container,
  .wraper__londonrag__promo.padding__top__bottom > .container__fluid,
  .sofy__portfolio__sec__5.joyscape__page,
  .wraper__pwa__background > .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .wraper__portfolio__section__overview
    .portfolio__section__overview
    > .container,
  .wraper__portfolio__section__seamless
    .portfolio__section__seamless__title
    > .container,
  .wraper__portfolio__section__features
    .portfolio__section__features__title
    > .container,
  .wraper__portfolio__section__features
    .portfolio__section__features__parallax
    > .container__fluid,
  .wraper__portfolio__section__browser
    .portfolio__section__browser__screens
    > .container,
  .wraper__portfolio__section__integrations
    .portfolio__section__integrations
    > .container,
  .wraper__portfolio__section__results
    .portfolio__section__results
    > .container,
  .wraper__houselabs__overview .houselabs__overview > .container,
  .wraper__freshclinic__components .freshclinic__components__title > .container,
  .wraper__freshclinic__showcase
    .freshclinic__showcase__section
    > .container__fluid,
  .wraper__freshclinic__screenshots .freshclinic__screenshots__box > .container,
  .wraper__happydna__testimonial
    .happydna__testimonial__main
    > .container__fluid,
  .wraper__londonrag__promo.padding__top__bottom > .container,
  .wraper__londonrag__promo.padding__top__bottom > .container__fluid,
  .wraper__londonrag__promo.padding__top > .container,
  .wraper__londonrag__promo.padding__top > .container__fluid,
  .wraper__pwa__background > .container,
  .wraper__pwa__action > .container {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sofy__portfolio__sec__2 {
    padding: 0 0 3rem;
  }
  .wraper__houselabs__welcome__card .houselabs__welcome__card .container {
    max-width: initial;
  }
}
@media (max-width: 767.98px) {
  .wraper__houselabs__welcome__card
    .houselabs__welcome__card
    .welcome__card__box {
    margin-top: 0;
  }
  .common_text p {
    line-height: 1.5;
  }
  .sofy__portfolio__sec__2 {
    padding: 0;
  }
  .comm__works.mr__2 {
    margin-right: 0 !important;
  }
  .comm__works.ml__2 {
    margin-left: 0 !important;
  }

  .comm__works {
    padding: 8% 6% 5% 6%;
  }
  .common_text h3,
  .common_text .h3 {
    line-height: normal;
    font-weight: normal !important;
  }
}
@media (max-width: 575.98px) {
  .wraper__houselabs__hero__video
    .houselabs__hero__video
    .houselabs__hero__video__video
    > .video
    img {
    width: auto;
    height: 50vh;
    max-width: initial;
  }
  .wraper__houselabs__hero__video
    .houselabs__hero__video
    .houselabs__hero__video__video
    > .play__btn {
    width: 45px;
    height: 45px;
  }

  .wraper__houselabs__welcome__card
    .houselabs__welcome__card
    .houselabs__welcome__card__box
    > h3,
  .wraper__houselabs__features
    .houselabs__features__screens
    .houselabs__features__screens__text
    h3 {
    font-size: 28px;
  }
  .wraper__houselabs__overview
    .houselabs__overview
    .houselabs__overview__text
    h3,
  .wraper__houselabs__overview
    .houselabs__overview
    .houselabs__overview__text
    .h3 {
    font-weight: 700 !important;
    font-size: 28px;
  }
  .common_text p {
    font-size: 16px;
    line-height: 1.8;
  }
  .wraper__portfolio__section__features
    .portfolio__section__features__title
    .portfolio__section__features__title__text
    h3,
  .wraper__houselabs__features
    .houselabs__features__title
    .houselabs__features__title__text
    h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 5px;
  }
  .overflow__x__hidden {
    overflow-x: hidden;
  }
  .special__padding__rm {
    padding-right: 0px;
  }
}

.wraper__houselabs__hero__video
  .houselabs__hero__video
  .houselabs__hero__video__video
  > .play__btn
  > .holder:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  z-index: 1;
  background-color: var(--main-white-color);
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.wraper-houselabs-overview
  .houselabs-overview
  .houselabs-overview-text
  .features
  > .features-item
  p {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  line-height: 1.6;
}
