.button {
  --bg-color: white;
  --text-color: black;

  position: relative;
  text-align: center;
  outline: none;
  font-size: 15px;
  appearance: auto;
  user-select: none;
  white-space: pre;
  min-width: 200px;
  height: 52px;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  padding: 0px 32px;
  text-align: center;
  box-sizing: border-box;
  align-items: flex-start;
  color: var(--text-color);
  text-transform: uppercase;
  background: var(--bg-color);
  font-family: 'Circular Std Book';
  border-top: 0px solid var(--text-color);
  border-left: 0px solid var(--text-color);
  border-right: 0px solid var(--text-color);
  border-bottom: 0px solid var(--text-color);
}

.button > p {
  z-index: 1;
  position: relative;
  margin: 0 !important;
  text-align: center;
  color: var(--text-color);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.button::before {
  content: '';
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
  background: var(--text-color);
}

.button:hover:before {
  top: auto;
  bottom: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.button:hover > p {
  color: var(--bg-color);
}

.dark {
  --bg-color: black;
  --text-color: white;
}

.bordered {
  --bg-color: black;
  --text-color: white;
  border-width: 2px !important;
}

.bordered_reverse {
  border-width: 2px !important;
  border-color: var(--text-color);
}

.dark.bordered_reverse {
  border-color: var(--bg-color);
}

.button.tag__style {
  height: 32px;
  min-width: auto;
  font-size: 14px;
  font-size: 14px;
  line-height: 26px;
  padding: 2px 12px 1px 12px;
  transition: all 0.3s ease-in-out;
  border: 1px rgba(0, 0, 0, 0.15) solid;

  --text-color: rgba(0, 0, 0, 0.5);
  --bg-color: white;
}

.button.tag__style > p {
  text-transform: capitalize;
}

.button.tag__style:hover {
  --text-color: black;
  --bg-color: white;
}

.button.icon__style {
  width: auto;
  height: auto;
  min-width: 32px;
  min-height: 32px;
  padding: 16px;
}
