@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@font-face {
  font-family: 'LineAwesome';
  src: url('https://www.unifiedinfotech.net/assets/fonts/line-awesome.woff2')
    format('woff2');
}

.navbar {
  --bg-color: transparent;
  --text-color: #ffffff;
  padding: 0;
  z-index: 99;
  width: 100%;
  position: fixed;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Circular Std Book';
  transition: all ease-in-out 200ms;
}

.dark {
  --bg-color: #ffffff;
  --text-color: #000000;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  font-size: 32px;
  font-weight: bold;
}

.content {
  margin-left: auto !important;
}

.content__main {
  display: flex;
  flex-basis: auto;
}
.navbar__ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  margin: 0;
  cursor: pointer;
  list-style: none;
  margin-right: 18px;
}

.navbar__li__after::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.45em;
  vertical-align: top;
  content: '\f110';
  font-family: 'LineAwesome';
  border-top: 0em solid;
  border-right: 0em solid transparent;
  border-bottom: 0;
  border-left: 0em solid transparent;
  font-size: 12px;
  line-height: 22px;
}

.navbar__li {
  list-style: none;
  display: block;
  padding: 11px 24px !important;
  position: relative;
}

.navbar__li_hover:hover > .nav__submenu {
  display: block !important;
  opacity: 1 !important;
  visibility: visible;
}

.menu_item_arrow {
  position: absolute;
  top: calc(100% + 16px);
  right: 1px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu_item_arrow__before::before {
  position: absolute;
  bottom: 100%;
  left: calc(100% - 10px);
  border: solid transparent;
  content: ' ';
  width: 0;
  height: 0;
  pointer-events: none;
  margin-left: -11px;
  border-color: transparent;
  border-bottom-color: #000;
  border-width: 11px;
}

.menu_item_arrow__after::after {
  margin-left: -8px;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  position: absolute;
  bottom: 100%;
  left: calc(100% - 10px);
  border: solid transparent;
  content: ' ';
  width: 0;
  height: 0;
  pointer-events: none;
}

@media (max-width: 980px) {
  .content,
  .call {
    display: none;
  }
}
