@font-face {
  font-family: 'Circular Std Book';
  src: url('/fonts/circular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.portfolio__wrapper {
  padding: 88px 8%;
  padding-top: 144px;
  font-family: 'Circular Std Book';
}

.portfolio__heading {
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: 'Circular Std Book';
}

.portfolio__description {
  font-size: 34px;
  font-weight: bold;
}

.portfolio__list__wrapper {
  gap: 52px;
  display: grid;
  padding: 0px 8%;
  padding-bottom: 88px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.portfolio__list__item__wrapper {
  width: 100%;
  height: auto;
  opacity: 0;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  will-change: clip-path, opacity, filter;
  transition: clip-path 1.1s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 1.1s ease 167ms;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.portfolio__list__item__img.img__inview .portfolio__list__item__wrapper {
  opacity: 1;
  animation: blurOut 0.9s ease-out;
  will-change: clip-path, opacity, filter;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@keyframes blurOut {
  0% {
    filter: blur(10px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

.portfolio__list__item__data {
  box-sizing: border-box;
  font-family: 'Circular Std Book';
}

.portfolio__list__item__title {
  color: var(--title-color);
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
}

.portfolio__list__item__title::before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 20px;
  width: 40px;
  height: 1px;
  background-color: var(--title-color);
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}

.portfolio__list__item:hover .portfolio__list__item__title:before {
  width: 48px;
}

.portfolio__list__item__desc {
  margin-bottom: 25px;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.25px;
}

.portfolio__list__item__tags {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__list__item__tags button {
  margin-bottom: 12px;
}

@media (max-width: 980px) {
  .portfolio__wrapper {
    padding: 45px 5%;
    padding-top: 102px;
  }
  .portfolio__list__wrapper {
    padding: 0px 5%;
    margin-bottom: 32px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .portfolio__heading {
    font-size: 14px;
    line-height: 43px;
  }
  .portfolio__description {
    font-size: 24px;
    line-height: 36px;
  }
}

/* @media (max-width: 575px) {} */

.text__white {
  color: #fff !important;
}
.text__black {
  color: #000000;
}
